*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: wheat;

}

img{
    height: 65px;
}

#nav{
    height: 100px; 
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

#nav1{
    display: flex;
    align-items: center;
    gap: 55px;

}

#nav2{
    display: flex;
    align-items: center;
    gap: 55px;

}

#nav button{
    background-color: white;
    color: black;
    padding: 15px 20px;
    border: none;
    font-weight: 700;
    font-size: 18px;
}

#main h1{
    font-size: 100px;
     text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main h1 span{
    background-color: brown;
    color: black;
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 50px;
    margin: 0px 30px;
}

#main h1:nth-child(2){
    color: red;
    margin-top: 60px;
}


#main #left{
  height: 300px;
  position: absolute;
  top: 14%;
  left: 7%;
  border-radius: 30px;
}

#main #right{
    height: 300px;
    position: absolute;
    bottom: 14%;
    right: 7%;
    border-radius: 30px;
  }


h5{
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
    /* padding: 190px; */
    font-weight: 90;
    justify-content: center;
    color: white;
  }